﻿<h1 class="text-center text-danger">Add Game</h1>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
                <label for="inputEmail">Name</label>
                <input type="text" ng-model="name" class="form-control input-lg" placeholder="Game Name" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Price</label>
                <input type="text" ng-model="price" class="form-control input-lg" placeholder="Game Price" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Image</label>
                <input type="text" ng-model="image" class="form-control input-lg" placeholder="Game Image" />
            </div>
            <button ng-click="addGame()" class="btn btn-info form-control input-lg">Save</button>  
        </form>
    </div>
</div>