﻿<h1 class="text-center text-danger">Edit Game</h1> 
<br />
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <h3 class="text-danger">Select Game</h3>
        <hr />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                {{selectedItem}} 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="g in games">
                    <a ng-click="dropboxItemSelected(g)">{{g.GameId}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-7">
        <form ng-show="isDeleteItemVisible">
            <div class="form-group">
                <label for="inputEmail">Name</label>
                <input type="text" ng-model="name" class="form-control input-lg" placeholder="Game Name" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Price</label>
                <input type="text" ng-model="price" class="form-control input-lg" placeholder="Game Price" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Image</label>
                <input type="text" ng-model="image" class="form-control input-lg" placeholder="ImagePath" />
            </div>

            <button ng-click="updataGame()" class="btn btn-warning form-control input-lg">Update</button> 
        </form>
    </div>
</div>