﻿<div class="row">

    <h1 class="text-center text-danger">Games</h1>
    <hr />

    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <input type="text" placeholder="Type to filter here" class="input-lg form-control" ng-model="search.Name" />
            <br />
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Image</th>
                    </tr>
                </thead>
                
                <tr ng-repeat="g in games| filter:search">
                    <td>{{g.Name}}</td>
                    <td>{{g.Price}}</td>
                    <td><img src={{g.ImagePath}} alt="" height=100 width=100></td>
                </tr>
            </table>
        </div>
    </div>
</div>